/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sending-data, .data-sent {
	display: none;
}