/**
 * CSS for the admin-specific functionality.
 */

 .loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sending-data, .data-sent {
	display: none;
}

.post-range-fields {
	display: flex;
	margin-bottom: 1.33rem;
}

.post-range-fields .high,
.post-range-fields .low {
	width: 45%;
}

.post-range-fields .high input,
.post-range-fields .low input {
	width: 100%;
}

.post-range-fields .separator {
	width: 10%;
	text-align: center;
}