/**
 * CSS for the admin-specific functionality.
 */

 .loader {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.sending-data, .data-sent {
	display: none;
}

.post-range-fields {
	display: flex;
	margin-bottom: 1.33rem;
}

.post-range-fields .high,
.post-range-fields .low {
	width: 45%;
}

.post-range-fields .high input,
.post-range-fields .low input {
	width: 100%;
}

.post-range-fields .separator {
	width: 10%;
	text-align: center;
}

/* Settings page CSS */

.docs {
	margin-top: 0;
}

.docs a {
	font-size: .8rem;
	font-style: italic;
	text-decoration: none;
}

#poststuff .inside h2 {
	padding-left: 0;
	padding-top: 30px;
	font-weight: 600;
}

th.row-title {
	padding-left: 10px;
}